# **Setup**

In [100]:
import pandas as pd

# **Data Import**

In [101]:
df = pd.read_csv('ocd_patient_dataset.csv')

print(df.shape)
df.head()

(1500, 17)

,Patient ID,Age,Gender,Ethnicity,Marital Status,Education Level,OCD Diagnosis Date,Duration of Symptoms (months),Previous Diagnoses,Family History of OCD,Obsession Type,Compulsion Type,Y-BOCS Score (Obsessions),Y-BOCS Score (Compulsions),Depression Diagnosis,Anxiety Diagnosis,Medications
0,1018,32,Female,African,Single,Some College,2016-07-15,203,MDD,No,Harm-related,Checking,17,10,Yes,Yes,SNRI
1,2406,69,Male,African,Divorced,Some College,2017-04-28,180,NaN,Yes,Harm-related,Washing,21,25,Yes,Yes,SSRI
2,1188,57,Male,Hispanic,Divorced,College Degree,2018-02-02,173,MDD,No,Contamination,Checking,3,4,No,No,Benzodiazepine
3,6200,27,Female,Hispanic,Married,College Degree,2014-08-25,126,PTSD,Yes,Symmetry,Washing,14,28,Yes,Yes,SSRI
4,5824,56,Female,Hispanic,Married,High School,2022-02-20,168,PTSD,Yes,Hoarding,Ordering,39,18,No,No,NaN

# **Diagnosis MOM Count**

In [102]:
df01 = df.loc[:,['Patient ID','OCD Diagnosis Date']]

df01.head()

   Patient ID OCD Diagnosis Date
0        1018         2016-07-15
1        2406         2017-04-28
2        1188         2018-02-02
3        6200         2014-08-25
4        5824         2022-02-20

In [103]:
df01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient ID          1500 non-null   int64
 1   OCD Diagnosis Date  1500 non-null   object
dtypes: int64(1), object(1)
memory usage: 23.6+ KB

In [104]:
df01.rename(columns={'OCD Diagnosis Date':'OCD_Diagnosis_Date'}, inplace=True)
df01['OCD_Diagnosis_Date'] = pd.to_datetime(df01['OCD_Diagnosis_Date'], format='%Y-%m-%d')

display(df01.head())
df01.info()

   Patient ID OCD_Diagnosis_Date
0        1018         2016-07-15
1        2406         2017-04-28
2        1188         2018-02-02
3        6200         2014-08-25
4        5824         2022-02-20

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient ID          1500 non-null   int64
 1   OCD_Diagnosis_Date  1500 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 23.6 KB

In [105]:
df01['Diagnosis_Month'] = df01['OCD_Diagnosis_Date'].apply(lambda x: x.strftime('%m-01-%Y'))
df01['Diagnosis_Month'] = pd.to_datetime(df01['Diagnosis_Month'], format='%m-01-%Y')
df01['Diagnosis_Month'] = df01['Diagnosis_Month'].apply(lambda x: x.strftime('%m-01-%Y'))
# df01.reset_index(inplace=True)
df01.sort_values('OCD_Diagnosis_Date',ascending=True,inplace=True)

display(df01.head())
df01.info()

      Patient ID OCD_Diagnosis_Date Diagnosis_Month
1445        1791         2013-11-13      11-01-2013
1282        3181         2013-11-17      11-01-2013
129         4584         2013-11-17      11-01-2013
496         3268         2013-11-17      11-01-2013
812         6198         2013-11-19      11-01-2013

<class 'pandas.core.frame.DataFrame'>
Index: 1500 entries, 1445 to 654
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient ID          1500 non-null   int64
 1   OCD_Diagnosis_Date  1500 non-null   datetime64[ns]
 2   Diagnosis_Month     1500 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 46.9+ KB

In [106]:
df02 = df01.groupby('Diagnosis_Month')['Patient ID'].count().to_frame()
df02.reset_index(inplace=True)
df02.columns = ['Diagnosis_Month','patient_count']

display(df02.head())
df02.info()

  Diagnosis_Month  patient_count
0      01-01-2014             13
1      01-01-2015             16
2      01-01-2016             10
3      01-01-2017             16
4      01-01-2018             19

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Diagnosis_Month  109 non-null    object
 1   patient_count    109 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [109]:
# Export df01
df02.to_csv('diagnosis_mom.csv', index=False)